NEXT_PUBLIC_SUPABASE_URL=https://xcjnjhefignguwhxjlll.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhjam5qaGVmaWduZ3V3aHhqbGxsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5MTcyMzAsImV4cCI6MjA5NTQ5MzIzMH0._LakdewfjAf4mU5UyMERxrO-ZF42sGPSI7OBy6UjGDY
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_SITE_URL=http://localhost:3000



# Reviewa7@2234_ supabase password
#6:31